.navigationBarWrapper {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	background-color: olivedrab;
	padding: 1%;
}

.logotype {
	width: 100px;
	cursor: pointer;
}

.signIn {
	cursor: pointer;
	grid-column: 8/11;
	justify-self: center;
	align-self: center;
}